$appHeight: 100%;
$appWidth: 100%;
$appBorder: 20px;
$navbarHeight: 70px;
$poiret: 'Poiret One', sans-serif;
$coupe: 'coupe-bold';
$raleway: 'Raleway', sans-serif;
$lato: 'Lato', sans-serif;
$logoFont: 'coupe-bold';
$hoverColor: #808080;
$primeColor: rgb(25, 174, 171);
$secondaryColor: #182c40;
$thirdColor: #bcd732;
