.navbar{
  position: fixed;
  top: 0;
  width: $appWidth;
  height: $navbarHeight;
  background-color: $secondaryColor;
  z-index: 100;
  
  .clickable {
    cursor: pointer;
  }
  .logo-container {
    opacity: 0;
    height:$navbarHeight;
    position: absolute;
    top: 12px;
    left: 15px;
    img {
      width: 49px;
      height: 49px;
    }
  }
  .title-container {
    opacity: 0;
    top: 25px;
    left: 70px;
    font-size: 20px;
    font-family: $coupe;
    position: absolute;
    color: white;
  }
  ul {
    float: right;
    margin-top: 15px;
    padding-left: 0px;
    display: table;
    
    li {
      font-family: $poiret;
      font-size: 20px;
      padding-left: 5px;
      padding-right: 15px;
      display: table-cell;
      cursor: pointer;
      text-align: center;
      opacity: 0;
      transition-duration: 0.4s;
      img {
        width: 30px;
        height: 30px;
      }

      &:hover {
        transform: translateZ(0) scale(1.2);
      }
    }
  }

}