<div class="hero"">
  <img class="background"src="{{background}}"></img>
  <div class="main-container">
    <div class="title">{{title}}</div>
    <div class="subtitle">{{subtitle}}</div>
  	<div class="lema">{{lema}}</div>
  </div>
  <div class="down-arrow"></div>
</div>